body{
    background-color: rgb(255, 216, 88);
    text-align: center;
}

h3{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(249, 29, 29);
}

#color_name{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}